<h1>Account Info</h1>

<article class="">
  <p>
    <%= @user.name %>
  </p>
  <p>
    <%= @user.username %>
  </p>
  <p>
    <%= @user.email %>
  </p>
  <p>
    <%= @user.created_at.strftime("Member since %B %Y")%>
  </p>

  <footer>
    <nav>
      <% if current_user?(@user) %>
        <%= link_to "Edit Account", edit_user_path(@user) %> |
        <%= link_to "Delete Account", user_path(@user), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </nav>
  </footer>
</article>
