<%= render 'shared/errors', object: @review %>
<%= form_for([@movie, @review]) do |f| %>
  <fieldset>
    <h4>Submit a review...</h4>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name, size: 40, autofocus: true %>
    </p>
    <p>
      <%= f.label :comment %>
      <%= f.text_area :comment, placeholder: "We're all ears..." %>
    </p>
    <p>
      <%= f.label :stars %>
      <% Review::STARS.each do |star| %>
        <span class="star">
          <%= f.radio_button :stars, star %> <%= star %>
        </span>
      <% end %>
    </p>
    <p>
      <%= f.submit "Post Review" %> |
      <%= link_to "cancel", movie_path(@movie) %>
    </p>
  </fieldset>
<% end %>
